extends layout

block content

  h1 Budget: #{budget.name}
  p Income: #{budget.income}
  p Expenses: #{budget.expenses}
  - var total = budget.income - budget.expenses
  p Total Funds Available: #{total}
    
  hr
  p
    a(href=budget.url+'/delete') Delete budget
  p
    a(href=budget.url+'/update') Update budget
